<h2>{{titutlo}}</h2>

<form [formGroup]="tarea">
  <div class="ajustar">
    <mat-form-field>
      <mat-label>Titulo de la Tarea</mat-label>
      <input matInput type="text" formControlName="titulo" placeholder="Titulo">
      <mat-error *ngIf="tarea.controls['titulo'].hasError('pattern')">
        Se requiere llenar el campo
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descripcion de la Tarea</mat-label>
      <input matInput type="text" formControlName="descripcion" placeholder="Descripcion">
      <mat-error *ngIf="tarea.controls['descripcion'].hasError('pattern')">
        Se requiere llenar el campo
      </mat-error>
    </mat-form-field>
    <div>
      <mat-form-field>
        <mat-label>Estado de la Tarea</mat-label>
        <mat-select formControlName="estado">
          @for (estado of estados; track estado) {
            <mat-option [value]="estado.value">{{estado.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</form>
<div class="acciones">
  <div>
    <button mat-raised-button (click)="cerrar()">CANCELAR</button>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="guardar()" [disabled]="!tarea.valid">GUARDAR</button>
  </div>
</div>
