.ajustar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
  
.acciones {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

button {
    margin-bottom: 5px;
}
  
h2 {
    margin: 15px auto;
}